### Page 2 - Table Name - Wholesale Prices in Selected Markets (Rs/Kg)

In [31]:
# import pandas as pd

# import tabula

# def extract_tables_from_pdf_to_df(pdf_path, page_number):
#     # Step 1: Extract the first column without using lattice
#     first_column_table = tabula.read_pdf(pdf_path, pages=page_number, area=[0, 0, 100, 100], lattice=False)
    
#     # Step 2: Extract the remaining table using lattice
#     remaining_table = tabula.read_pdf(pdf_path, pages=page_number, area=[0, 100, 100, 595], lattice=True, multiple_tables=True)
    
#     # Combine the extracted parts
#     if isinstance(remaining_table, list):
#         remaining_df = pd.concat(remaining_table, ignore_index=True)
#     else:
#         remaining_df = remaining_table
    
#     # Assuming the first column table has only one column
#     first_column_df = pd.DataFrame(first_column_table[0])
    
#     # Combine the first column with the remaining table
#     combined_df = pd.concat([first_column_df, remaining_df], axis=1)
    
#     return combined_df

# # Example usage

# pdf_path = 'daily_20-05-2024.pdf'
# page_number = 2
# df = extract_tables_from_pdf_to_df(pdf_path, page_number)

# # from tabulate import tabulate

# # print(tabulate(food_df, headers='keys', tablefmt='psql'))

In [32]:
import tabula
import pandas as pd

# Function to read PDF and extract tables into a DataFrame
def extract_tables_from_pdf_to_df(pdf_path):
   
    tables = tabula.read_pdf(pdf_path, pages='2', multiple_tables=True, lattice=True)
    
    # Combine all tables into a single DataFrame if there are multiple tables
    if isinstance(tables, list):
        combined_df = pd.concat(tables, ignore_index=True)
    else:
        combined_df = tables
    
    return combined_df

pdf_path = '../data/pdf/daily_18-06-2024.pdf'

food_df = extract_tables_from_pdf_to_df(pdf_path)

# print(food_df)

# display the DataFrame in a tabular format for better readability
from tabulate import tabulate
print(tabulate(food_df, headers='keys', tablefmt='psql'))

# Optionally save to CSV
# food_df.to_csv('food.csv', index=False)

food_df.head()

+----+-------------------------+--------------+----------------+----------------+--------------+----------------+----------------+----------------+----------------+----------------+----------------+
|    | Variety                 | 2024-06-18   | 2024-06-18.1   | 2024-06-18.2   | 2024-06-17   | 2024-06-18.3   | 2024-06-18.4   | 2024-06-18.5   | 2024-06-18.6   | 2024-06-18.7   | 2024-06-17.1   |
|----+-------------------------+--------------+----------------+----------------+--------------+----------------+----------------+----------------+----------------+----------------+----------------|
|  0 | nan                     | Peliyagoda   | Kandy          | Dambulla       | Meegoda      | Norochchole    | hambuththegam  | Keppetipola    | Nuwaraeliya    | Bandarawela    | Veyangoda      |
|    |                         | Market       | Market         | Market         | Market       | Market         | Market         | Market         | Market         | Market         | Market         |
|  1 | nan                     | nan          | nan            | nan            | nan          | nan            | nan            | nan            | nan            | nan            | nan            |
|  2 | Beans                   | 550 -600     | 500 -550       | 530 -600       | 550 -600     | -              | 580-620        | 500 -550       | 520-550        | 500-520        | -              |
|  3 | Carrot                  | 350 -380     | 370400         | 350 -400       | 300 -400     | -              | 350-380        | 250 -260       | 350-360        | 280-300        | -              |
|  4 | Leeks                   | 500 -550     | 500 -520       | 400 -450       | 550 -600     | -              | 570-600        | 540 -550       | 560-570        | 440-470        | -              |
|  5 | Beet root               | -            | nan            | 350 -400       | -            | -              | 500-530        | -              | -              | -              | -              |
|  6 | Beet Root(N'Eliya)      | 450 -480     | 500 -530       | 560 -620       | -            | -              | 600-620        | 450 -480       | 460-500        | -              | -              |
|  7 | Knolkhol                | 250 -300     | 280 -300       | 280 -350       | 360 -500     | -              | -              | 280 -320       | 280-320        | 250-260        | -              |
|  8 | Raddish                 | 150 -160     | 150170         | 150 -180       | 130 -170     | -              | 150-180        | 100 -120       | 170-180        | 100-120        | -              |
|  9 | Cabbage (N'Eliya)       | 130 -150     | 170 -180       | -              | 200 -210     | -              | -              | -              | 190-200        | 100-110        | -              |
| 10 | Cabbage (Kandy)         | 100 -120     | 130160         | 150 -200       | 150 -180     | -              | 180-210        | 120 -150       | -              | -              | -              |
| 11 | Tomato                  | 600 -650     | 550 -580       | 440 -500       | 500 -650     | -              | 450-500        | 430 -450       | 430-460        | 450-480        | -              |
| 12 | Low country Vegetable   | nan          | nan            | nan            | nan          | nan            | nan            | nan            | nan            | nan            | nan            |
| 13 | Ladies Fingers          | 120 -130     | 140 -160       | 150 -160       | 180 -250     | -              | 140-160        | -              | -              | 150-160        | -              |
| 14 | Brinjals                | 300 -350     | 350 -380       | 200 -300       | 380 -430     | -              | 230-350        | 350 -380       | -              | 380-400        | -              |
| 15 | Capsicum                | 550 -600     | 530 -550       | 450 -600       | 600 -680     | -              | 500-600        | 650 -700       | 660-700        | 450-470        | -              |
| 16 | Pumpkin                 | 130 -150     | 150160         | 130 -140       | 150 -180     | -              | 120-150        | 140 -150       | -              | 120-130        | -              |
| 17 | Cucumber                | 80 -100      | 80 -100        | 80 -120        | 80 -120      | -              | 60-80          | 120 -130       | -              | 120-130        | -              |
| 18 | Bitter Gourd            | 600 -650     | 550 -580       | 580 -650       | 660 -680     | -              | 450-500        | -              | -              | 500-530        | -              |
| 19 | Snake Gourd             | 280 -300     | 220250         | 200 -230       | 300 -350     | -              | 240-260        | -              | -              | 300-330        | -              |
| 20 | Drumstick               | -            | nan            | -              | -            | -              | -              | -              | -              | -              | -              |
| 21 | Luffa                   | 250 -280     | 220 -240       | 240 -300       | 280 -350     | -              | 260-300        | -              | -              | 260-270        | -              |
| 22 | Long Beans              | 200 -250     | 280 -300       | 200 -250       | 300 -380     | -              | 250-300        | -              | -              | 220-250        | -              |
| 23 | Ash Plantains           | 200 -250     | 150180         | 160 -180       | 220 -260     | -              | 150-200        | -              | -              | 160-170        | -              |
| 24 | Green Chillies          | 200 -250     | 180 -220       | 100 -170       | 280 -310     | -              | 150-250        | 250 -300       | -              | 260-300        | -              |
| 25 | Lime                    | 1000 -1100   | 900 -950       | 850 -1000      | 1000 -1100   | -              | 700-800        | -              | -              | 1200-1300      | -              |
| 26 | Sweet Potatoe           | 150 -160     | 140 -170       | 130 -150       | 130 -170     | -              | -              | 140 -150       | -              | 160-180        | -              |
| 27 | Manioc                  | 80 -100      | 90 -100        | 80 -100        | 90 -120      | -              | 80-100         | 100 -120       | -              | -              | -              |
| 28 | Eggplant                | 250 -260     | 300 -330       | 250 -280       | 350 -370     | -              | nan            | nan            | nan            | nan            | -              |
| 29 | Potato(Imported)        | 170 -180     | 180 -190       | 165 -175       | 170 -180     | -              | 175-185        | -              | -              | 180-190        | -              |
| 30 | Potato (Welimada)       | -            | nan            | -              | -            | -              | 250-260        | 280 -300       | -              | 280-290        | -              |
| 31 | Potato (Nuwaraeliya)    | 300 -310     | 310320         | 280 -310       | 290 -320     | -              | -              | -              | 280-290        | 300-320        | -              |
| 32 | B'Onion Imported        | 185 -225     | 200235         | 190 -230       | 185 -225     | -              | 195-230        | 235 -240       | -              | 200-235        | -              |
| 33 | Big-onion Local         | -            | -              | -              | -            | -              | -              | -              | -              | -              | -              |
| 34 | Banana                  | nan          | nan            | nan            | nan          | nan            | nan            | nan            | nan            | nan            | nan            |
| 35 | Ambul(Rs/Kg)            | 120-150      | 80-110         | -              | nan          | nan            | -              | nan            | nan            | nan            | -              |
| 36 | Kolikuttu               | 350-380      | 270-280        | -              | nan          | nan            | -              | nan            | nan            | nan            | -              |
| 37 | Seeni                   | 120-140      | 70-100         | -              | nan          | nan            | -              | nan            | nan            | nan            | -              |
| 38 | Anamalu  (Rs/Fruits)    | 25-30        | nan            | -              | nan          | nan            | -              | nan            | nan            | nan            | -              |
| 39 | Papaya (Rs/Kg)          | 150-200      | 140-150        | -              | nan          | nan            | -              | nan            | nan            | nan            | -              |
| 40 | Passion Fruits(Rs/Frui  | s)           | -              | -              | nan          | nan            | -              | nan            | nan            | nan            | -              |
|    |                         | 65-70        |                |                |              |                |                |                |                |                |                |
| 41 | Other Fruits (Rs/Fruit) | -            | -              | nan            | nan          | nan            | nan            | nan            | nan            | -              | nan            |
| 42 | Pineapple - Large       | 480-500      | -              | -              | nan          | nan            | nan            | nan            | nan            | nan            | -              |
| 43 | - Medium                | 350-380      | -              | -              | nan          | nan            | nan            | nan            | nan            | nan            | -              |
| 44 | - Small                 | 270-300      | -              | -              | nan          | nan            | nan            | nan            | nan            | nan            | -              |
| 45 | Mango     - Betti       | 20-25        | -              | -              | nan          | nan            | nan            | nan            | nan            | nan            | -              |
| 46 | - Karathakol            | mb5a0n-      | -              | -              | nan          | nan            | nan            | nan            | nan            | nan            | -              |
|    |                         | 80           |                |                |              |                |                |                |                |                |                |
| 47 | Woodapple               | 140-160      | -              | -              | nan          | nan            | nan            | nan            | nan            | nan            | -              |
| 48 | Avocado                 | 60-100       | -              | -              | nan          | nan            | nan            | nan            | nan            | nan            | -              |
| 49 | Orange                  | 130-150      | -              | -              | nan          | nan            | nan            | nan            | nan            | nan            | -              |
+----+-------------------------+--------------+----------------+----------------+--------------+----------------+----------------+----------------+----------------+----------------+----------------+

,Variety,2024-06-18,2024-06-18.1,2024-06-18.2,2024-06-17,2024-06-18.3,2024-06-18.4,2024-06-18.5,2024-06-18.6,2024-06-18.7,2024-06-17.1
0,NaN,Peliyagoda\rMarket,Kandy\rMarket,Dambulla\rMarket,Meegoda\rMarket,Norochchole\rMarket,hambuththegam\rMarket,Keppetipola\rMarket,Nuwaraeliya\rMarket,Bandarawela\rMarket,Veyangoda\rMarket
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Beans,550 -600,500 -550,530 -600,550 -600,-,580-620,500 -550,520-550,500-520,-
3,Carrot,350 -380,370400,350 -400,300 -400,-,350-380,250 -260,350-360,280-300,-
4,Leeks,500 -550,500 -520,400 -450,550 -600,-,570-600,540 -550,560-570,440-470,-

In [33]:
food_df = food_df.drop(1)
food_df.head(60)

,Variety,2024-06-18,2024-06-18.1,2024-06-18.2,2024-06-17,2024-06-18.3,2024-06-18.4,2024-06-18.5,2024-06-18.6,2024-06-18.7,2024-06-17.1
0,NaN,Peliyagoda\rMarket,Kandy\rMarket,Dambulla\rMarket,Meegoda\rMarket,Norochchole\rMarket,hambuththegam\rMarket,Keppetipola\rMarket,Nuwaraeliya\rMarket,Bandarawela\rMarket,Veyangoda\rMarket
2,Beans,550 -600,500 -550,530 -600,550 -600,-,580-620,500 -550,520-550,500-520,-
3,Carrot,350 -380,370400,350 -400,300 -400,-,350-380,250 -260,350-360,280-300,-
4,Leeks,500 -550,500 -520,400 -450,550 -600,-,570-600,540 -550,560-570,440-470,-
5,Beet root,-,NaN,350 -400,-,-,500-530,-,-,-,-
6,Beet Root(N'Eliya),450 -480,500 -530,560 -620,-,-,600-620,450 -480,460-500,-,-
7,Knolkhol,250 -300,280 -300,280 -350,360 -500,-,-,280 -320,280-320,250-260,-
8,Raddish,150 -160,150170,150 -180,130 -170,-,150-180,100 -120,170-180,100-120,-
9,Cabbage (N'Eliya),130 -150,170 -180,-,200 -210,-,-,-,190-200,100-110,-
10,Cabbage (Kandy),100 -120,130160,150 -200,150 -180,-,180-210,120 -150,-,-,-
11,Tomato,600 -650,550 -580,440 -500,500 -650,-,450-500,430 -450,430-460,450-480,-
12,Low country Vegetable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Ladies Fingers,120 -130,140 -160,150 -160,180 -250,-,140-160,-,-,150-160,-
14,Brinjals,300 -350,350 -380,200 -300,380 -430,-,230-350,350 -380,-,380-400,-
15,Capsicum,550 -600,530 -550,450 -600,600 -680,-,500-600,650 -700,660-700,450-470,-
16,Pumpkin,130 -150,150160,130 -140,150 -180,-,120-150,140 -150,-,120-130,-
17,Cucumber,80 -100,80 -100,80 -120,80 -120,-,60-80,120 -130,-,120-130,-
18,Bitter Gourd,600 -650,550 -580,580 -650,660 -680,-,450-500,-,-,500-530,-
19,Snake Gourd,280 -300,220250,200 -230,300 -350,-,240-260,-,-,300-330,-
20,Drumstick,-,NaN,-,-,-,-,-,-,-,-
21,Luffa,250 -280,220 -240,240 -300,280 -350,-,260-300,-,-,260-270,-
22,Long Beans,200 -250,280 -300,200 -250,300 -380,-,250-300,-,-,220-250,-
23,Ash Plantains,200 -250,150180,160 -180,220 -260,-,150-200,-,-,160-170,-
24,Green Chillies,200 -250,180 -220,100 -170,280 -310,-,150-250,250 -300,-,260-300,-
25,Lime,1000 -1100,900 -950,850 -1000,1000 -1100,-,700-800,-,-,1200-1300,-
26,Sweet Potatoe,150 -160,140 -170,130 -150,130 -170,-,-,140 -150,-,160-180,-
27,Manioc,80 -100,90 -100,80 -100,90 -120,-,80-100,100 -120,-,-,-
28,Eggplant,250 -260,300 -330,250 -280,350 -370,-,NaN,NaN,NaN,NaN,-
29,Potato(Imported),170 -180,180 -190,165 -175,170 -180,-,175-185,-,-,180-190,-
30,Potato (Welimada),-,NaN,-,-,-,250-260,280 -300,-,280-290,-
31,Potato (Nuwaraeliya),300 -310,310320,280 -310,290 -320,-,-,-,280-290,300-320,-
32,B'Onion Imported,185 -225,200235,190 -230,185 -225,-,195-230,235 -240,-,200-235,-
33,Big-onion Local,-,-,-,-,-,-,-,-,-,-
34,Banana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Ambul(Rs/Kg),120-150,80-110,-,NaN,NaN,-,NaN,NaN,NaN,-
36,Kolikuttu,350-380,270-280,-,NaN,NaN,-,NaN,NaN,NaN,-
37,Seeni,120-140,70-100,-,NaN,NaN,-,NaN,NaN,NaN,-
38,Anamalu (Rs/Fruits),25-30,NaN,-,NaN,NaN,-,NaN,NaN,NaN,-
39,Papaya (Rs/Kg),150-200,140-150,-,NaN,NaN,-,NaN,NaN,NaN,-
40,Passion Fruits(Rs/Frui,s)\r65-70,-,-,NaN,NaN,-,NaN,NaN,NaN,-
41,Other Fruits (Rs/Fruit),-,-,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN
42,Pineapple - Large,480-500,-,-,NaN,NaN,NaN,NaN,NaN,NaN,-
43,- Medium,350-380,-,-,NaN,NaN,NaN,NaN,NaN,NaN,-
44,- Small,270-300,-,-,NaN,NaN,NaN,NaN,NaN,NaN,-
45,Mango - Betti,20-25,-,-,NaN,NaN,NaN,NaN,NaN,NaN,-
46,- Karathakol,mb5a0n-\r80,-,-,NaN,NaN,NaN,NaN,NaN,NaN,-
47,Woodapple,140-160,-,-,NaN,NaN,NaN,NaN,NaN,NaN,-
48,Avocado,60-100,-,-,NaN,NaN,NaN,NaN,NaN,NaN,-
49,Orange,130-150,-,-,NaN,NaN,NaN,NaN,NaN,NaN,-

In [34]:
# # Extract values from row 0 and row 1 for the column 'Unnamed: 0'
# cell_value1 = food_df.iloc[0, food_df.columns.get_loc('Unnamed: 0')]
# new_column_name1 = f"{cell_value1}"
# print(new_column_name1)
# food_df.rename(columns={'Unnamed: 0': new_column_name1}, inplace=True)
# food_df.head()

In [35]:
# # Accessing the Coloumn 
# cell_value5 = food_df.iloc[0, 5]
# cell_value6 , cell_value7 = cell_value5.split()

# print(cell_value5, cell_value6, cell_value7, sep='\n')

# food_df.rename(columns={'Unnamed: 1': cell_value6}, inplace=True)

# food_df.head()

In [36]:
# Identify columns with "."
columns_with_dot = [col for col in food_df.columns if '.' in col]

# Extract column names before "." and rename columns
new_column_names = {}
for col in columns_with_dot:
    new_col_name = col.split('.')[0]  # Get part before "."
    new_column_names[col] = new_col_name

# Rename columns
food_df.rename(columns=new_column_names, inplace=True)

# Print the updated DataFrame
food_df.head()

,Variety,2024-06-18,2024-06-18,2024-06-18,2024-06-17,2024-06-18,2024-06-18,2024-06-18,2024-06-18,2024-06-18,2024-06-17
0,NaN,Peliyagoda\rMarket,Kandy\rMarket,Dambulla\rMarket,Meegoda\rMarket,Norochchole\rMarket,hambuththegam\rMarket,Keppetipola\rMarket,Nuwaraeliya\rMarket,Bandarawela\rMarket,Veyangoda\rMarket
2,Beans,550 -600,500 -550,530 -600,550 -600,-,580-620,500 -550,520-550,500-520,-
3,Carrot,350 -380,370400,350 -400,300 -400,-,350-380,250 -260,350-360,280-300,-
4,Leeks,500 -550,500 -520,400 -450,550 -600,-,570-600,540 -550,560-570,440-470,-
5,Beet root,-,NaN,350 -400,-,-,500-530,-,-,-,-

In [37]:
# Get the name of the second column
second_column_name = food_df.columns[1]

# Rename the sixth column to match the name of the second column
food_df.rename(columns={food_df.columns[5]: second_column_name}, inplace=True)
food_df.rename(columns={food_df.columns[6]: second_column_name}, inplace=True)

food_df.head()

,Variety,2024-06-18,2024-06-18,2024-06-18,2024-06-17,2024-06-18,2024-06-18,2024-06-18,2024-06-18,2024-06-18,2024-06-17
0,NaN,Peliyagoda\rMarket,Kandy\rMarket,Dambulla\rMarket,Meegoda\rMarket,Norochchole\rMarket,hambuththegam\rMarket,Keppetipola\rMarket,Nuwaraeliya\rMarket,Bandarawela\rMarket,Veyangoda\rMarket
2,Beans,550 -600,500 -550,530 -600,550 -600,-,580-620,500 -550,520-550,500-520,-
3,Carrot,350 -380,370400,350 -400,300 -400,-,350-380,250 -260,350-360,280-300,-
4,Leeks,500 -550,500 -520,400 -450,550 -600,-,570-600,540 -550,560-570,440-470,-
5,Beet root,-,NaN,350 -400,-,-,500-530,-,-,-,-

In [38]:
cell_value1= food_df.iloc[0, 5]
cell2, cell3 = cell_value1.split()
print(cell2)
print(cell3)

Norochchole
Market

In [39]:
food_df.iloc[0, 6] = cell2
food_df.iloc[0, 5] = cell3
food_df.fillna(0, inplace=True)

# find this word in the variety column and replace it with "Karthakolomban"
food_df['Variety'] = food_df['Variety'].replace(['- Karathakolomb6a0n-', '- Karathakolomb5a0n-'], 'Karthakolamban')

food_df.head(60)

,Variety,2024-06-18,2024-06-18,2024-06-18,2024-06-17,2024-06-18,2024-06-18,2024-06-18,2024-06-18,2024-06-18,2024-06-17
0,0,Peliyagoda\rMarket,Kandy\rMarket,Dambulla\rMarket,Meegoda\rMarket,Market,Norochchole,Keppetipola\rMarket,Nuwaraeliya\rMarket,Bandarawela\rMarket,Veyangoda\rMarket
2,Beans,550 -600,500 -550,530 -600,550 -600,-,580-620,500 -550,520-550,500-520,-
3,Carrot,350 -380,370400,350 -400,300 -400,-,350-380,250 -260,350-360,280-300,-
4,Leeks,500 -550,500 -520,400 -450,550 -600,-,570-600,540 -550,560-570,440-470,-
5,Beet root,-,0,350 -400,-,-,500-530,-,-,-,-
6,Beet Root(N'Eliya),450 -480,500 -530,560 -620,-,-,600-620,450 -480,460-500,-,-
7,Knolkhol,250 -300,280 -300,280 -350,360 -500,-,-,280 -320,280-320,250-260,-
8,Raddish,150 -160,150170,150 -180,130 -170,-,150-180,100 -120,170-180,100-120,-
9,Cabbage (N'Eliya),130 -150,170 -180,-,200 -210,-,-,-,190-200,100-110,-
10,Cabbage (Kandy),100 -120,130160,150 -200,150 -180,-,180-210,120 -150,-,-,-
11,Tomato,600 -650,550 -580,440 -500,500 -650,-,450-500,430 -450,430-460,450-480,-
12,Low country Vegetable,0,0,0,0,0,0,0,0,0,0
13,Ladies Fingers,120 -130,140 -160,150 -160,180 -250,-,140-160,-,-,150-160,-
14,Brinjals,300 -350,350 -380,200 -300,380 -430,-,230-350,350 -380,-,380-400,-
15,Capsicum,550 -600,530 -550,450 -600,600 -680,-,500-600,650 -700,660-700,450-470,-
16,Pumpkin,130 -150,150160,130 -140,150 -180,-,120-150,140 -150,-,120-130,-
17,Cucumber,80 -100,80 -100,80 -120,80 -120,-,60-80,120 -130,-,120-130,-
18,Bitter Gourd,600 -650,550 -580,580 -650,660 -680,-,450-500,-,-,500-530,-
19,Snake Gourd,280 -300,220250,200 -230,300 -350,-,240-260,-,-,300-330,-
20,Drumstick,-,0,-,-,-,-,-,-,-,-
21,Luffa,250 -280,220 -240,240 -300,280 -350,-,260-300,-,-,260-270,-
22,Long Beans,200 -250,280 -300,200 -250,300 -380,-,250-300,-,-,220-250,-
23,Ash Plantains,200 -250,150180,160 -180,220 -260,-,150-200,-,-,160-170,-
24,Green Chillies,200 -250,180 -220,100 -170,280 -310,-,150-250,250 -300,-,260-300,-
25,Lime,1000 -1100,900 -950,850 -1000,1000 -1100,-,700-800,-,-,1200-1300,-
26,Sweet Potatoe,150 -160,140 -170,130 -150,130 -170,-,-,140 -150,-,160-180,-
27,Manioc,80 -100,90 -100,80 -100,90 -120,-,80-100,100 -120,-,-,-
28,Eggplant,250 -260,300 -330,250 -280,350 -370,-,0,0,0,0,-
29,Potato(Imported),170 -180,180 -190,165 -175,170 -180,-,175-185,-,-,180-190,-
30,Potato (Welimada),-,0,-,-,-,250-260,280 -300,-,280-290,-
31,Potato (Nuwaraeliya),300 -310,310320,280 -310,290 -320,-,-,-,280-290,300-320,-
32,B'Onion Imported,185 -225,200235,190 -230,185 -225,-,195-230,235 -240,-,200-235,-
33,Big-onion Local,-,-,-,-,-,-,-,-,-,-
34,Banana,0,0,0,0,0,0,0,0,0,0
35,Ambul(Rs/Kg),120-150,80-110,-,0,0,-,0,0,0,-
36,Kolikuttu,350-380,270-280,-,0,0,-,0,0,0,-
37,Seeni,120-140,70-100,-,0,0,-,0,0,0,-
38,Anamalu (Rs/Fruits),25-30,0,-,0,0,-,0,0,0,-
39,Papaya (Rs/Kg),150-200,140-150,-,0,0,-,0,0,0,-
40,Passion Fruits(Rs/Frui,s)\r65-70,-,-,0,0,-,0,0,0,-
41,Other Fruits (Rs/Fruit),-,-,0,0,0,0,0,0,-,0
42,Pineapple - Large,480-500,-,-,0,0,0,0,0,0,-
43,- Medium,350-380,-,-,0,0,0,0,0,0,-
44,- Small,270-300,-,-,0,0,0,0,0,0,-
45,Mango - Betti,20-25,-,-,0,0,0,0,0,0,-
46,- Karathakol,mb5a0n-\r80,-,-,0,0,0,0,0,0,-
47,Woodapple,140-160,-,-,0,0,0,0,0,0,-
48,Avocado,60-100,-,-,0,0,0,0,0,0,-
49,Orange,130-150,-,-,0,0,0,0,0,0,-

In [40]:
# Transpose the DataFrame and set the first row as column headers
df_transposed = food_df.T
df_transposed.columns = df_transposed.iloc[0]

# Drop the first row (which is now redundant as column headers) and reset index
df_transposed = df_transposed.drop(df_transposed.index[0])
df_transposed = df_transposed.reset_index().rename(columns={'index': 'Date', 'Variety': 'Location'})

# Clean up the 'Date' column: remove trailing decimal and convert to datetime
df_transposed['Date'] = df_transposed['Date'].str.replace(r'\.\d+$', '', regex=True)
df_transposed['Date'] = pd.to_datetime(df_transposed['Date'])

# Reshape the DataFrame from wide to long format
df_melted = df_transposed.melt(id_vars=['Date', 'Location'], var_name='Item_Names', value_name='Value')
# Save the melted DataFrame to a CSV file
df_melted.to_csv('food1.csv', index=False)

df_melted.head(238)

KeyError: "The following 'id_vars' are not present in the DataFrame: ['Location']"

In [ ]:
# Function to clean the value column
def clean_value(value):
    if isinstance(value, str) and value.startswith('-'):
        return value[1:]
    return value

# Search for 'Thambuththegama' in the 'location' column and clean the corresponding 'value' column
df_melted.loc[df_melted['Location'] == 'Thambuththegama', 'Value'] = df_melted.loc[df_melted['Location'] == 'Thambuththegama', 'Value'].apply(clean_value)

# Save the cleaned DataFrame to a new CSV file
df_melted.to_csv('cleaned_food1.csv', index=False)

df_melted.head()

        Date         Location Item_Names       Value
0 2024-05-20       Peliyagoda      Beans   400 - 500
1 2024-05-20            Kandy      Beans   350 - 400
2 2024-05-20         Dambulla      Beans   380 - 400
3 2024-05-19          Meegoda      Beans   450 - 500
4 2024-05-20  Thambuththegama      Beans   370 - 400

In [ ]:
# Update Item_Names column
df_melted.loc[df_melted['Item_Names'].str.contains('- Small', na=False), 'Item_Names'] = 'Pineapple - Small'
df_melted.loc[df_melted['Item_Names'].str.contains('- Medium', na=False), 'Item_Names'] = 'Pineapple - Medium'

# Save the updated DataFrame to a new CSV file
df_melted.to_csv('updated_food1.csv', index=False)

In [ ]:
# Search for 'Peliyagoda' in the 'Location' column
location_mask = df_melted['Location'] == 'Peliyagoda'

# Within those rows, search for 'Lime' in the 'Item_Names' column
lime_mask = df_melted['Item_Names'].str.contains('Lime', na=False)

# Combine masks to find the relevant rows
combined_mask = location_mask & lime_mask

# Split the 'Item_Names' values by space for the relevant rows
lime_splits = df_melted.loc[combined_mask, 'Item_Names'].str.split(' ', expand=True)

# Assuming the last column of the split values is the third part
part1, part2, part3 = None, None, None

if len(lime_splits.columns) > 2:
    part1 = lime_splits.iloc[:, -3]
    part2 = lime_splits.iloc[:, -2]
    part3 = lime_splits.iloc[:, -1]

print(part1)
print(part2)
print(part3)

New_cell = part2 + ' ' + part3

print(New_cell)

230    Lime
Name: 0, dtype: object
230    1200
Name: 1, dtype: object
230    -
Name: 2, dtype: object
230    1200 -
dtype: object

In [ ]:
# Filter the DataFrame to get the row where 'Location' is 'Peliyagoda' and 'Item_Names' contains 'Lime'
filtered_df = df_melted[(df_melted['Location'] == 'Peliyagoda') & (df_melted['Item_Names'].str.contains('Lime', na=False))]

# Extract the corresponding value from the 'Value' column
extracted_value = filtered_df['Value'].values

print(extracted_value)

New_cell2_vlaue = New_cell +" "+extracted_value

print(New_cell2_vlaue)

['1300']
230    1200 - 1300
dtype: object

In [ ]:
# Filter the DataFrame to get the row where 'Location' is 'Peliyagoda' and 'Item_Names' contains 'Lime'
combined_mask = (df_melted['Location'] == 'Peliyagoda') & (df_melted['Item_Names'].str.contains('Lime', na=False))

# Extract the corresponding value from the 'Value' column
extracted_values = df_melted.loc[combined_mask, 'Value'].values

# Combine New_cell with the extracted value(s) to create New_cell2_value and write it back to the DataFrame
df_melted.loc[combined_mask, 'Value'] = [New_cell + " " + str(value) for value in extracted_values]

In [ ]:
# Replace any cell that contains the substring 'Lime' with 'Lime'
df_melted.loc[df_melted['Item_Names'].str.contains('Lime', case=False, na=False), 'Item_Names'] = 'Lime'

df_melted.to_csv('updated_food3.csv', index=False)

In [ ]:
# Handling cells with just dashes or invalid patterns
df_melted['Value'] = df_melted['Value'].replace('-', '0 - 0')

# Split the 'Value' column into 'Min_Value' and 'Max_Value' columns
df_melted[['Min_Value', 'Max_Value']] = df_melted['Value'].str.split(' - ', expand=True)

# Convert the new columns to integers, handling potential conversion errors
df_melted['Min_Value'] = pd.to_numeric(df_melted['Min_Value'], errors='coerce').fillna(0).astype(int)
df_melted['Max_Value'] = pd.to_numeric(df_melted['Max_Value'], errors='coerce').fillna(0).astype(int)

ValueError: Columns must be same length as key

In [ ]:
df_melted.drop(columns=['Value'], inplace=True)

In [ ]:
# insert Databse Write Date
from datetime import datetime
df_melted.insert(0, 'Database Write Date', datetime.now().strftime('%Y-%m-%d'))

In [ ]:
# Rename the "Date" column to "Actual Date in Format"
df_melted.rename(columns={'Date': 'Actual Date in Format'}, inplace=True)

In [ ]:
df_melted.to_csv('updated_food5.csv', index=False)

In [ ]:
df_melted.head()

,Database Write Date,Actual Date in Format,Location,Item_Names,Min_Value,Max_Value
0,2024-06-20,2024-06-10,Peliyagoda,Beans,400,450
1,2024-06-20,2024-06-10,Kandy,Beans,400,430
2,2024-06-20,2024-06-10,Dambulla,Beans,450,500
3,2024-06-20,2024-06-09,Meegoda,Beans,420,460
4,2024-06-20,2024-06-10,Thambuththegama,Beans,460,500

In [ ]:
cell_value = df_melted.iloc[233, 2]
print(cell_value)  # Output: 5

Meegoda

In [ ]:
cell_value = df_melted.iloc[420, 2]
print(cell_value)  # Output: 5

Peliyagoda

In [ ]:
# from datetime import datetime

# Write the current date to the 'Database Write Date' column for all rows
# food_df['Database Write Date'] = datetime.now().strftime('%Y-%m-%d')

# food_df.head()

In [ ]:
import sqlalchemy as sal
# load data into sql server
#engine = sal.create_engine('mssql://BGL-DTS33\MSSQLSERVER1/mydb?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
#conn=engine.connect()

In [ ]:
# load data into sql server using replace option (it creates the table)
#food_df.to_sql('2nd_10-06-2024', con=conn, if_exists='append', index=False)